@import 'components/variables.scss';
@import 'components/mixins.scss';
@import 'components/animations.scss';

$pageWrapperHeight: $stickyFooterRatio * $unit;
$cardBorderRadius: 0.4 * $unit;
$filterHeight: (($baseHeaderHeight * 1.5) / $goldenRatio) * 0.8;
$textColor: lighten(black, 26%);
$menuButtonXPadding: 3 * $unit;
$menuButtonYPadding: 0;
$menuMaxHeight: 30 * $unit;
$menuWidth: 24 * $unit;

// phone screens
$phoneMenuButtonXPadding: 1 * $unit;
$phoneMenuButtonYPadding: 0;
