@import './config.scss';

.menuButton {
	position: relative;

	.button.flat {
		border-radius: 0;
		border: none;
		border-left: 1px solid lighten(black, 80%);
		font-size: 1.2 * $unit;
		padding: $menuButtonYPadding $menuButtonXPadding;
		span {
			margin-left: 0.6 * $unit;
			line-height: $filterHeight;
			font-size: 1.6 * $unit;
		}
		&.neutral:not([disabled]) {
			color: $textColor;
			height: $filterHeight;
		}
	}

	&.last {
		.button.flat {
			border-left: 1px solid lighten(black, 80%);
			border-right: 1px solid lighten(black, 80%);
		}
	}

	.menu {
		.menuInner {
			max-height: $menuMaxHeight;
			overflow-y: auto;
			.menuItem {
				width: $menuWidth;
			}
		}
	}

	@include media('>phone', '<=#{$baseScreenWidth}') {
		.button.flat {
			padding: $phoneMenuButtonYPadding $phoneMenuButtonXPadding;
		}
	}
}
