@import './config.scss';

.pageWrapper {
	// sticky footer hack
	// ref: https://css-tricks.com/snippets/css/sticky-footer/
	min-height: 100%;
	margin-bottom: -($pageWrapperHeight);
	position: relative;
	&:after {
		content: '';
		display: block;
		height: $pageWrapperHeight;
	}

	@include padding(
		($baseHeaderHeight + $filterHeight + 10),
		null,
		$baseHeaderHeight,
		null
	);

	.container {
		.card {
			@include centerBlock(90%);
			margin-bottom: lost-vars('gutter');

			@include media('>tablet') {
				lost-column: 1/4;
				margin-bottom: lost-vars('gutter');
			}
		}
	}
}
