@import 'react-toolbox/lib/colors.css';

@keyframes pulsate {
	0% {
		background-color: var(--palette-blue-grey-50);
		color: var(--palette-blue-grey-50);
	}

	100% {
		background-color: var(--palette-blue-grey-100);
		color: var(--palette-blue-grey-100);
	}
}
