@import 'include-media/dist/_include-media.scss';

@mixin size($width: auto, $height: auto) {
	width: $width;
	height: $height;
}

@mixin centerBlock($width) {
	display: block;
	width: $width;
	@include margin(null, auto, null, auto);
}

@mixin padding($top, $right, $bottom, $left) {
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left) {
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}
