@import './config.scss';

.footerWrapper {
	height: $stickyFooterHeight;
	background: $footerBGColor;
	position: relative;
	min-height: $footerLinksHeight;

	.container {
		.section {
			lost-utility: clearfix;
			padding: $footerLinksYPadding 0;

			.left {
				lost-column: 1/3;

				.button {
					display: block;
					min-width: $minButtonWidth;
					margin-bottom: 1 * $unit;

					&.appStoreButton {
						padding: $appStoreButtonYPadding $appStoreButtonXPadding;
					}
				}

				@include media('>phone', '<=tablet') {
					lost-column: 1/1;
					text-align: center;
				}
			}
			.right {
				lost-column: 2/3;
				.footerList {
					lost-column: 1/3;
				}

				@include media('>phone', '<=tablet') {
					lost-column: 1/1;
					text-align: center;

					.footerList {
						lost-column: 1/1;
					}
				}
			}

			&.footerTop {
				.left {
					@include media('>phone', '<=tablet') {
						.button {
							@include centerBlock($minButtonWidth);
						}
					}
				}
				.right {
					.footerList {
						@include media('>phone', '<=tablet') {
							lost-column: 1/2;
						}
					}
				}

				@include media('>phone', '<=tablet') {
					padding: 16px 0;
				}
			}

			&.footerBase {
				@extend %removePadding;
				@include size($baseScreenWidth, $footerBaseHeight);

				position: absolute;
				bottom: 0;

				.copyright {
					h1.title,
					h4.subtitle {
						display: inline-block;
						color: white;
						line-height: $footerBaseHeight;
						margin: 0;
						font-weight: 500;
						vertical-align: middle;
					}
					h4.subtitle {
						margin-left: 1 * $unit;
						font-size: 1 * $unit;
					}

					@include media('>phone', '<=tablet') {
						text-align: center;
						h1.title,
						h4.subtitle {
							line-height: $phoneLineHeight;
						}
						h1.title {
							font-size: 1.8 * $unit;
						}
					}

					@include media('>phone', '<=tablet') {
						text-align: center;
					}
				}

				.button {
					&.appStoreButton {
						display: inline-block;
						margin: $appStoreButtonYMargins 0;
						padding: $appStoreButtonYPadding $appStoreButtonXPadding;

						@include media('>phone', '<=tablet') {
							margin: $phoneAppStoreButtonYMargins 0;
							padding: 0 $appStoreButtonXPadding;
						}
					}
				}

				@include media('>phone', '<=tablet') {
					width: 100%;
					height: $phoneBaseHeight * 4;
				}
			}

			@include media('>phone', '<=tablet') {
				@include size(100%, 100%);
			}
		}

		.horizontalRule {
			margin-top: 0;
			border: 1px solid white;
			border-bottom: none;
			position: absolute;
			bottom: $footerBaseHeight;
			width: $baseScreenWidth;

			@include media('>phone', '<=tablet') {
				bottom: $phoneBaseHeight * 4;
				width: 100%;
			}
		}
	}

	@include media('>phone', '<=tablet') {
		height: $phoneStickyFooterHeight;
	}
}
