@import './config.scss';

.footerList {
	@extend %removeMargin;
	@extend %removePadding;
	color: $footerTextColor;
	list-style: none;
	lost-utility: clearfix;

	&.horizontal {
		.link {
			display: inline-block;
			&:not(.iconLink) {
				line-height: $footerBaseHeight;
				padding: 0 (1.6 * $unit);
			}

			@include media('>phone', '<=tablet') {
				&:not(.iconLink) {
					line-height: $phoneLineHeight;
					padding: 0 (1.6 * $unit);
				}
			}
		}
	}

	.link {
		font-size: $fontSize;
		line-height: $fontSize + 14;
		font-weight: 500;
		color: darken(white, 45%);
		cursor: pointer;

		&:hover {
			color: white;
		}

		&.title {
			color: $footerTextColor;
			font-size: $fontSize * 1.2;
			padding-bottom: 1 * $unit;
			font-weight: 700;
		}

		&.iconLink {
			@include size($iconSize, $iconSize);
			margin: $iconLinkMargin (0.6 * $unit);
			color: darken(white, 45%);
			fill: darken(white, 45%);
			&:hover {
				color: white;
				fill: white;
			}

			@include media('>phone', '<=tablet') {
				margin: $phoneIconLinkMargin (0.6 * $unit);
				vertical-align: middle;
			}
		}
	}
}
