@import './config.scss';

$appBarBGColor: black;
$textColor: lighten($appBarBGColor, 70%);
$backgroundColor: lighten($appBarBGColor, 25%);
$fontIconSize: 2.4 * $unit;
$iconMargin: 1 * $unit;

.formGroup {
	position: relative;
	.input {
		display: block;
		width: 100%;
		height: $inputGroupHeight;
		padding: $inputGroupYPadding $inputGroupXPadding;
		padding-left: $inputGroupXPadding + $fontIconSize + ($iconMargin * 2);
		border: none;
		border-radius: 0.3 * $unit;
		resize: none;
		background-color: $backgroundColor;
		caret-color: $textColor;
		color: $textColor;

		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
			color: $textColor;
			font-size: 1.2 * $unit;
		}

		&::-ms-expand {
			border: 0;
			background-color: transparent;
		}

		&[disabled],
		&[readonly],
		fieldset[disabled] & {
			background-color: $backgroundColor;
			opacity: 1;
		}
	}

	:global {
		.material-icons {
			width: $fontIconSize;
			position: absolute;
			line-height: $inputGroupHeight;
			margin-left: $iconMargin;
			color: $textColor;
		}
		.material-icons:last-child {
			right: $inputGroupXPadding + $fontIconSize;
			top: 0;
			cursor: pointer;
		}
	}

	textarea.input {
		height: auto;
		line-height: 2 * $unit;
	}
}
