@import './config.scss';

.appBar {
	height: $baseHeaderHeight;
	.inner {
		display: block;
		lost-utility: clearfix;

		.title {
			@extend %removeMargin;
			line-height: $baseHeaderHeight;
			float: left;
		}

		.formGroup {
			width: 60%;
			float: left;
			lost-offset: 1/6;
			@include margin($inputGroupMargin, null, $inputGroupMargin, null);

			@include media('>phone', '<=#{$baseScreenWidth}') {
				width: auto;
				margin-left: lost-vars('gutter') !important;
			}
		}

		.rightIcon {
			@include size($rightIconHeight);
			@include margin($rightIconMargin, null, $rightIconMargin, null);
			float: right;
		}
	}
}
