@import './config.scss';

.appBar {
	&.filter {
		background-color: white;
		&.fixed {
			top: $baseHeaderHeight;
		}
		height: $filterHeight;

		.filterLabel {
			color: $textColor;
			padding: $menuButtonYPadding $menuButtonXPadding;
		}
	}
}
