@import './config.scss';
$bannerHeight: ($baseHeaderHeight * 5) / $goldenRatio;
$filterHeight: ($baseHeaderHeight * 1.5) / $goldenRatio;

.appBar {
	&.banner {
		background: grey;
		height: $bannerHeight;
		&.fixed {
			top: $baseHeaderHeight;
			z-index: 99;
		}
	}

	&.filter {
		&.fixed {
			top: $bannerHeight + $baseHeaderHeight;
		}
		height: $filterHeight * 0.8;
	}
}
